/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS */

@font-face {
    font-family: roboto-italics;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

html,body {
    height: 100%;
    width: 100vw;
    background-color: #f0eef1;
}

/* HEADER */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

h1 {
    font-family: roboto-italics;
    font-size: 2.5em;
}

header>button {
    border: none;
    border-radius: 8px;
    width: 5em;
    font-family: roboto;
    color: black;
}

header>button:hover {
    cursor: pointer;
    background-color: rgb(213, 202, 202);
}

/* MAIN */

main {
    box-shadow: inset 0 7px 9px -7px rgba(86, 2, 255, 0.4);
    min-height: calc(100vh - 125px);
}

non-book-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#open-button {
    border: none;
    background: none;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: roboto;
    height: 2em;
    width: auto;
    color: black;
}

#open-button:hover {
    cursor: pointer;
    background-color: rgb(197, 181, 181);
    border-radius: 6px;
}

#book-card-container {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* FORM */

.overlay.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 5%);
    z-index: 9;
    border-radius: 10px;
}

#form-container {
    max-width: 280px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    font-family: roboto;
}

#form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
}

#form-container input[type=text], #form-container input[type=number] {
    width: 18.5em;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
    border-radius: 10px;
    font-family: roboto;
}

#form-container input[type=text]:focus, #form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.submit-button {
    padding-top: 20px;
    display: flex;
}

#submit {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;
    font-family: roboto;
}

#form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* BOOK CARDS */

.newBookCard {
    background-color: white;
    margin: 1.5em;
    min-width: 30%;
    font-family: roboto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.newTitleCard {
    font-size: 1.4em;
    margin-top: 0.3em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTitleCard, .newAuthorCard, .newPagesCard, .newReadCard {
    padding: 0.6em;
    text-align: center;
}

.newReadCard {
    margin-bottom: 0.8em;
    margin-top: 0.5em;
    margin-left: 1.4em;
    margin-right: 1.4em;
    border-radius: 5px;
    border: none;
    font-family: roboto;
    color: black;
}

#read {
    accent-color: #04AA6D;
}

#read:hover {
    accent-color: #04AA6D;
}

#newReadCardRed {
    background-color: rgba(245, 0, 0, 0.583);
}

#newReadCardGreen {
    background-color: rgb(68, 197, 68);
}

#newReadCard:hover {
    cursor: pointer;
    background-color: rgba(245, 0, 0, 0.684);
}

#newReadCardGreen:hover {
    cursor: pointer;
    background-color: rgb(29, 187, 29);
}

.newRemoveCard {
    padding: 0.6em;
    margin-bottom: 0.8em;
    margin-top: 0.5em;
    margin-left: 1.4em;
    margin-right: 1.4em;
    border-radius: 5px;
    border: none;
    font-family: roboto;
    color: black;
}

.newRemoveCard:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

/* FOOTER*/
footer {
    width: 100%;
    text-align: center;
    font-family: roboto;
    height: 50px;
}